@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin: 0px;
  padding: 0px;
}

body {scroll-behavior: smooth;}

html {scroll-behavior: smooth;}

.loading-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 150;
}

.loading-container > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-container {
  width: 106px;
  height: 100px;
  padding-left: 10px;
  border-radius: 0px 50px 50px 0px;
  background-color: white;
  margin-top: 20px;
  position: relative;
  z-index: 60;
}

.logo-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 101vh;
  object-fit: cover;
  z-index: -1;
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
  font-family: "Open Sans";
}

.banner-text > h1 {
  font-size: 38px;
  color: white;
  font-weight: 600;
}

.banner-text > p {
  font-weight: 600;
  color: white;
}

.banner-buttons {
  margin-top: 10px;
}

.banner-button {
  padding-left: 30px;
  font-size: 16px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-family: "Open Sans";
  border: none;
  border-radius: 35px;
  margin-right: 8px;
  color: white;
}

.filled {
  background-image: url(/Images/colored\ gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.outlined {
  background-color: transparent;
  border: solid 2px white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.social {
  display: inline-block;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 5px;
}

header {height: 101vh;}

.social-icons {
  position: absolute;
  right: 5px;
  top: 0px;
  margin-top: 45px;
}

.social-text {
  color: white;
  font-family: "Open Sans";
  background-color: white;
  color: black;
  padding-top: 11.5px;
 
  padding-left: 7px;
  float: left;
  margin-top: 0px;
  padding-right: 23px;
  margin-right: -24px;
  z-index: -1;
  padding-left: 15px;
  border-radius: 30px 0px 0px 30px;
  font-weight: 600;
  padding-bottom: 11.5px}

.large-product-text {margin: auto;
  width: 86%;
  margin-top: -126px;color: white;}

.large-product-item > img {width: 100%;height: 336px; object-fit: cover;}

.large-product-text > h3 { font-family: "Open Sans";font-size: 40px;font-weight: 600;}

.large-product-text > p {font-family: "Open Sans";font-size: 14px;}

.small-product-item {width: 160px;display: inline-block;margin-right: 10px;    margin-bottom: 15px;vertical-align: top;}

.small-product-wrapper {margin: auto;
  width: 344px;
  margin-top: 46px;
  padding-left: 7px;}

.small-product-item > img {width: 100%;height: 100%;object-fit: cover;}

.small-product-item > h3 {font-family: "Open Sans";font-size: 14px; font-weight: 600;}